<a href="https://colab.research.google.com/github/PaoloTCS/PaoloDiM-Gmail.com/blob/master/testwoof.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.4.5.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.38.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [0]:
!mkdir .kaggle

In [0]:
import json
token = {'username':'sophiapignatelli','key':'02eb65aa26bf6f806f97dedbe7e7cb23'}
with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

In executing the above cell, i get error"cp: cannot create regular file '/root/.kaggle/kaggle.json': No such file or directory"

In [0]:
# Testing another way to get jason info ...

import os
os.environ['KAGGLE_USERNAME'] = "sophiapignatelli"
os.environ['KAGGLE_KEY'] = "02eb65aa26bf6f806f97dedbe7e7cb23"

# comment out above to go back to original method 
#  Seems to work!  Skip next cell and execute the download cell

In [0]:
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json
!kaggle config set -n path -v{/content}

cp: cannot create regular file '/root/.kaggle/kaggle.json': No such file or directory
Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packages/kaggle/cli.py", line 51, in main
    out = args.func(**command_args)
  File "/usr/local/lib/python2.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 304, in set_config_value
    config_data = self._read_config_file()
  File "/usr/local/lib/python2.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 275, in _read_config_file
    except FileNotFoundError:
NameError: global name 'FileNotFoundError' is not defined

In [0]:
!chmod 600 /root/.kaggle/kaggle.json

chmod: cannot access '/root/.kaggle/kaggle.json': No such file or directory

In [0]:
!kaggle datasets download -d sophiapignatelli/sweden-population-2019-csv -p /content

Downloading sweden-population-2019-csv.zip to /content
  0% 0.00/50.3k [00:00<?, ?B/s]
100% 50.3k/50.3k [00:00<00:00, 19.3MB/s]

In [0]:
import pandas as pd
df = pd.read_csv('/content/sweden-population-2019-csv.zip', compression ='zip') 
df.head()

  Foreign born population by county, municipality, sex and country of birth December 31 2019  ...      Unnamed: 31
0                                                NaN                                          ...              NaN
1                                             County                                          ...              NaN
2                                                NaN                                          ...  Unknown country
3                                                NaN                                          ...         of birth
4                                                NaN                                          ...              NaN

[5 rows x 32 columns]

Daddy added

In [0]:
!kaggle datasets download -d iarunava/happy-house-dataset

Downloading happy-house-dataset.zip to /content
 67% 5.00M/7.49M [00:00<00:00, 11.3MB/s]
100% 7.49M/7.49M [00:00<00:00, 15.3MB/s]

WOOOOOOOF AROOO

In [0]:
# Getting data by URL

#   testing https://www.kaggle.com/tunguz/covid19-genomes/download

In [0]:
myURL = "https://www.kaggle.com/tunguz/covid19-genomes/download"

In [0]:
# myDataFrame = pd.read_csv(myURL)

In [0]:
url = "data = pd.read_csv(url)"

In [0]:
data = pd.read_csv(myURL)

url = "https:/....."
data = pd.read_csv(url)

In [0]:
import requests

W O O F !!



url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"

c=pd.read_csv(url)

In [0]:
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"

In [0]:
c=pd.read_csv(url)

In [0]:
c.head()

    Country  Region
0   Algeria  AFRICA
1    Angola  AFRICA
2     Benin  AFRICA
3  Botswana  AFRICA
4   Burkina  AFRICA